*{
    margin: 0;
    font-family: 'Lato', sans-serif;;
}

/* STYLE FOR NAVBAR SECTION */


.divMain{
    position: fixed;
    width: 100%;
}

.img-responsive{
    max-width: 30%;
    height: auto;
}
.home-button, .help-button{
    font-weight: 700;
}
.login-button{
    color: #008000 !important;
    font-weight: 700;
    border: 1px solid #008000;
    border-radius: 5px;
}



/* STYLE FOR FORGOT PASSWORD */


.forgot-p{
    padding-top: 200px;
    text-align: center;
    padding-bottom: 150px;
}
h3{
    font-size: 40px !important;
}
form{
    padding-top: 30px;
}
label[for="email"]{
    text-align: left;
}
.link{
    text-decoration: underline;
    padding-left: 10px;
}


/* STYLE FOR FOOTER SECTION */


footer{
    background: #f8f9fa;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-p{
    text-align: center;
}



@media screen and (max-width: 768px) {
    input{
        width: 100%;
    }
    .login-button{
        width: 20%;
        text-align: center;
    }
}
