*{
    margin: 0;
    font-family: 'Lato', sans-serif;;
}

/* STYLE FOR NAVBAR SECTION */


.divMain{
    position: fixed;
    width: 100%;
}

.img-responsive{
    max-width: 30%;
    height: auto;
}
.home-button, .help-button{
    font-weight: 700;
}
.login-button{
    color: #008000 !important;
    font-weight: 700;
    border: 1px solid #008000;
    border-radius: 5px;
}



/* STYLE FOR LOGIN SECTION */



.login{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}
h2{
    font-size: 40px !important;
}
label[for="email"]{
    text-align: left;
    font-weight: 700;
}
label[for="password"]{
    text-align: left;
    font-weight: 700;
}
input{
    border: 1px solid #e9ecef;
    border-radius: 5px;
    padding-top: 10px;
}
.lock{
    display: inline-block;
    padding-top: 20px;
    margin-right: 265px;
}
.register{
    background: #fff;
    border: 1px solid #008000;
    border-radius: 5px;
    padding: 5px 15px;
}
.info{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin: 0 auto;
    width: 30%;
    
}
.info-p{
    width: 50%;
    text-align: left;
    opacity: 0.5;
}




/* STYLE FOR FOOTER SECTION */



footer{
    background: #f8f9fa;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-p{
    text-align: center;
}



@media screen and (max-width: 768px) {
    *{
        overflow-x: hidden;
    }
    .login-button{
        width: 20%;
        text-align: center;
    }
    input{
        width: 100%;
        
    }
    .info{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        margin: 0 auto;
        width: 100%;
        
    }
    .info-p{
        width: 60%;
        text-align: left;
        opacity: 0.5;
    }
    .info-b{
        width: 60%;
    }
}

